<div class="nav">
	<h1>LiangDaDa</h1> 
	<div class="nav-btn">
		<a id="index" class="active" href="{link_origin}index.html">首页<span class="after"></span></a>
		<a id="specification"href="{link_origin}templates/specification/index_s.html">规范代码<span class="after"></a>
		<a id="notes" href="{link_origin}templates/notes/notes.html">笔记<span class="after"></a>
		<a id="project" href="{link_origin}templates/project/index_p.html">做过<span class="after"></a>
		<a id="" href="">学过<span class="after"></a>
		<a id="" href="">想学<span class="after"></a>
		<a id="" href="">生活<span class="after"></a>
	</div>
</div>