<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../main/css/main.css">
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="shortcut icon" href="../main/images/home.ico"/>
	</head>
	<body>
	<div id="header"></div>
	<div class="mian">
		<div class="warp" style="width:800px">
		    <a class="media" href="ux.pdf"></a>  
		</div>
	</div>
	<script src="../../../introducing/js/jquerypdf/js/jquery.min.js"></script>  
<script type="text/javascript" src="../../../introducing/js/jquerypdf/js/jquery.media.js"></script>  
	<script>
		$(function() {  
		    $('a.media').media({width:800, height:600});  
		});
	</script>
	<!-- <script src="../../main/js/main.js"></script> -->
	</body>
</html>
