<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>4-4</title>
		<script src="../../staticimages/vue/vue.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id="app">
			<tem1 @click.native="handClickDaiv"></tem1>
		</div>
		<script>
			var tem1=Vue.component('tem1',{
				template:'<div>hello word</div>',
				
			})
			var app=new Vue({
				el:"#app",
				component:tem1,
				data:{
					
				},
				methods:{
					'handClickDaiv':function(){
						alert("asdgdfh");
					}
				}
			})
		</script>	
	</body>
</html>
