<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>4-4</title>
		<script src="../../staticimages/vue/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="../../introducing/css/animate/animate.min.css"/>
		<style>
			@keyframes in{
				0% {
					transform: scale(0)
				},
				50% {
					transform: scale(100)
				},
				100% {
					transform: scale(1)
				},
			}
			.enter-active{
				transform-origin: left center;
				animation:in 3s;
			}
			.leave-active{
				transform-origin: left center;
				animation:in 3s reverse; 
			}
		</style>
	</head>
	<body>
		<div id="app">
			<transition 
				enter-active-class="enter-active animated swing" 
				leave-active-class="leave-active animated tada"
				
			>
				<div v-show="show">
					hello word
				</div>
			</transition>
			<input type="button" value="change" @click="change"/>
		</div>
		<script>
			var app=new Vue({
				el:"#app",
				data:{
					'show':1,
				},
				methods:{
					'change':function(){
						this.show=this.show==1?0:1;
					}
				}
			})
		</script>	
	</body>
</html>
