<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="shortcut icon" href="../main/images/home.ico"/>
		<style>
			.main{padding-top:70px}
		</style>
	</head>
	<body id="index">
		<div id="header">
			<div class="nav">
				<img src="../../main/images/logo.png" class=" logo"alt="LiangDaDa" titel="LiangDaDa"/>
				<div class="nav-btn">
					<a id="index" href="../../index.html">首页<span class="after"></span></a>
					<a id="specification" href="">规范代码<span class="after"></a>
					<a id="notes" href="../notes/notes.html">笔记<span class="after"></a>
					<a id="project" href="../project/index_p.html" class="active">做过<span class="after"></a>
					<a id="" href="">学过<span class="after"></a>
					<a id="" href="">想学<span class="after"></a>
					<a id="" href="">生活<span class="after"></a>
				</div>
			</div>
		</div>
		<div class="main">
			<a target="_blank" href="https://github.com/liangDaDa2020/vueTravel">gitHub:https://github.com/liangDaDa2020/vueTravel</a>
			<p>打包的dist有点问题：api和static必须放在根目录，index.html可以放在自定义vueTravel的文件夹，target:'http://localhost:80/'</p>
		</div>
	</body>
</html>
