<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="shortcut icon" href="../main/images/home.ico"/>
		<style>
			.down-btn{width:100px;margin:0px atuo;font-size: 12px;color: #fff;background: #019875;display:block;line-height: 25px;padding: 0px 10px;border-radius: 5px}
		</style>
	</head>
	<body id="index">
		<div id="header">
			<div class="nav">
				<img src="../../main/images/logo.png" class=" logo"alt="LiangDaDa" titel="LiangDaDa"/>
				<div class="nav-btn">
					<a id="index" href="../../index.html" class="active">首页<span class="after"></span></a>
					<a id="specification" href="">规范代码<span class="after"></a>
					<a id="notes" href="../notes/notes.html">笔记<span class="after"></a>
					<a id="project" href="../project/index_p.html">做过<span class="after"></a>
					<a id="" href="">学过<span class="after"></a>
					<a id="" href="">想学<span class="after"></a>
					<a id="" href="">生活<span class="after"></a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="down-btn">下载</div>
		</div>
	</body>
</html>
