.content .item{height:1000px;}

.nav{position: fixed;background: #9ACFEA;top:70px;right:10px;}
.nav .nav-item{color:#fff;font-size: 15px;line-height: 30px;cursor: pointer;padding:5px}
.nav .nav-itemOn{background: #019875;}