<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="icon" href="../../main/images/home.ico" type="image/gif" /> 
		<style>
				#app{padding:10px}
				#app .shuttleBox{float:left;width:300px;height:250px;border:1px solid #ddd;border-radius:10px}
				#app .shuttleBoxTop{position:relative;background:#ddd;height:30px;line-height: 30px;font-size: 16px;;}
				#app .shuttleBoxTop .itemN{position: absolute;right:10px;top:0px;height:30px;line-height: 30px;}
				#app .shuttleBoxB{cursor:pointer;float:left;width:60px;margin:0px 20px;padding:150px 0px;}
				#app .shuttleBoxB .btn{margin-bottom:10px;}
				#app .btn{background:#ddd;color:#000;width:60px;height:30px;text-align: center;line-height: 30px;;}
		</style>
	</head>
	<body>
		<div id="app">
			<shuttleBox_template></shuttleBox_template>
			 <div class="shuttleBoxB">
			  	<div class="btn" @click="sourceTotarget()">>></div>
			  	<div class="btn" @click="targetTosource()"><<</div>
			</div>
			<shuttleBox_template></shuttleBox_template>
		</div>
		<script src="../../main/js/jquery-3.3.1.min.js"></script>
		<script src="../../introducing/js/vue.min.js"></script>
		<script>
			var tableData={
				'sourceData':[
					{
						'title':"数学",
						'id':1,
						'checked':1
					},
					{
						'title':"英语大",
						'id':1,
						'checked':0
					},
					{
						'title':"英语小",
						'id':1,
						'checked':0
					}
				],
				'targetData':[
					{
						'title':"课程1",
						'id':1,
						'checked':1,
						'sId':1
					},
					{
						'title':"课程2",
						'id':1,
						'checked':0,
						'sId':1
					},
					{
						'title':"课程3",
						'id':1,
						'checked':1,
						'sId':1
					},
					{
						'title':"课程A",
						'id':1,
						'checked':0,
						'sId':2
					},
					{
						'title':"课程B",
						'id':1,
						'checked':0,
						'sId':2
					},
					{
						'title':"课程C",
						'id':1,
						'checked':1,
						'sId':2
					},
					{
						'title':"课程a",
						'id':1,
						'checked':0,
						'sId':3
					},
					{
						'title':"课程b",
						'id':1,
						'checked':0,
						'sId':3
					},
					{
						'title':"课程c",
						'id':1,
						'checked':0,
						'sId':3
					},
				]
			}
			var shuttleBox_template='<div class="shuttleBox">'+
										'<div class="shuttleBoxTop">'+
											'<label>'+
												'<input type="checkbox" name="">源数据'+
											'</label>'+
											'<p class="itemN">1/3</p>'+
										'</div>'+
										'<div class="shuttleBoxc">'+
											'<label style="display: block;">'+
												'<input type="checkbox" name="">数学'+
											'</label>'+
										'</div>'+
									'</div>';
		Vue.component(shuttleBox_template,{
			template:shuttleBox_template,
			propus:[],
			computed:{
				
			}
			
		})
		var app=new Vue({
			el:"#app",
			data:data,
			
		});
			
			
			/*var shuttleBox_template='<div class="shuttleBox">'+
										'<div class="shuttleBoxTop">'+
											'<label>'+
												'<input type="checkbox" name=""/>{{title}}'+
											'</label>'+
											'<p class="itemN">{{checkedLength}}/{{data.length}}</p>'+
										'</div>'+
										'<div class="shuttleBoxc">'+
											'<label v-for="val,key in data" style="display:block">'+
												'<input type="checkbox" name="" v-model="val.checked"/>{{val["title"]}}'+
											'</label>'+
										'</div>'+
									'</div>';
			Vue.component('shuttle_box',{
				'template':shuttleBox_template,
				'props':['title','data'],
				'computed':{
					checkedLength: function (){
						return this.data.filter(item=>item.checked).length;
					}
				}
			})
			var app=new Vue({
				el:"#app",
				data:{
					tableData:tableData,
				},
				methods:{
					//源到目标
					sourceTotarget(){
						var sourceChecked=this.tableData['sourceData']
						.filter(item=>item.checked)
						.map((item)=>{
							return {
								'id':item.id,
								'title':item.title,
								'checked':0
							};}
						);
						this.tableData['sourceData']=this.tableData['sourceData']
						.filter(item=>item.checked==0);
						var This=this;
						$.each(sourceChecked,function(key,val){
							This.tableData['targetData'].push(val);
						})
						
					},
					//目标到源
					targetTosource(){
						var targetChecked=this.tableData['targetData']
						.filter(item=>item.checked)
						.map((item)=>{
							return {
								'id':item.id,
								'title':item.title,
								'checked':0
							};}
						);
						this.tableData['targetData']=this.tableData['targetData']
						.filter(item=>item.checked==0);
						var This=this;
						$.each(targetChecked,function(key,val){
							This.tableData['sourceData'].push(val);
						})
					}
				}
			})
			console.log(app.sourceData);*/
		</script>
	</body>
</html>
