<!----foot------start-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="bg-color text-center p-20-0">
    <p class="white font-14 p-20-10">
    <nobr>网站首页</nobr> &nbsp &nbsp <nobr>企业合作</nobr> &nbsp &nbsp <nobr>联系我们</nobr> &nbsp &nbsp <nobr>常见问题</nobr> &nbsp &nbsp <nobr>意见反馈</nobr><br/>
    <nobr>Copyright © 2017 imooc.com All Rights Reserved </nobr>| <nobr>京ICP备 13046642号-2</nobr>
    </p>
</div>
<!----foot------end-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	