<!Doctype html>
<html>
	<header>
		<title>终于开始了</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/css.css"/>
		<link rel="stylesheet" href="css/mine.css"/>
		<script src="js/angular.min.js"></script>
		<script src="js/jquery-1.12.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/controller/js.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller/mine.js"></script>
	</header>
	<body ng-app="homePage"  ng-controller="mine" class="mine">
		<div class="content">
			<top></top>
<!----内容显示------start------------------------------------------------------------------------------------------------->
		<div class="container contentTop">
			<div class="row" style="padding:20px 0px">
<!----内容left显示------start------------------------------------------------------------------------------------------------->
				<div class="col-md-2 col-sm-3 col-xs-12 leftCenter m-t-20" style="background:#f9f9f9;">
					<div class="p-10-0 minerLeftOptions white-bg" ng-click="mineObj.leftOption='我的资料'">
						<img src="img/mine/myProfile.png" class="mineIcon"/>
						<span class="font-16" style="line-height:25px">我的资料<span>
					</div>
					<div class=" p-10-0 minerLeftOptions" ng-click="mineObj.leftOption='我的足迹'">
						<img src="img/mine/footprint.png" class="mineIcon"/>
						<span class="font-16" style="line-height:25px">我的足迹<span>
					</div>
					<div class="p-10-0 minerLeftOptions" ng-click="mineObj.leftOption='我的分享'">
						<img src="img/mine/release.png" class="mineIcon"/>
						<span class="font-16" style="line-height:25px">我的分享<span>
					</div>
				</div>
<!----内容left显示------end------------------------------------------------------------------------------------------------->
<!----内容right显示------start------------------------------------------------------------------------------------------------->
				<div id="contenRight" class="col-xs-12 col-sm-9 col-md-10 clearfix contentRight">
<!----个人资料-----------start------------------------------------------------------------------------------------------------------------------->
					<div class="myProfileBox" ng-class='{"dispayBlock":mineObj.leftOption=="我的资料"}'>
						<div class="myProfileList">
							<span class="font-16 l-h-40 blue-color">头像:</span>
							<img ng-src="{{mineObj.myProfile.headerPor}}" class="m-0-10 myProfileHeaderPor"/>
						</div>
						<div class="myProfileList">
							<span class="font-16 l-h-40 blue-color">昵称:</span>
							<input ng-model="mineObj.myProfile.name" class="font-16 bg-lightGrey border-0"/>
						</div>
						<div class="myProfileList">
							<span class="font-16 l-h-40 blue-color">个性签名:</span>
							<input ng-model="mineObj.myProfile.signature" class="font-16 bg-lightGrey border-0"/>
						</div>
						<div class="myProfileList">
							<span class="font-16 l-h-40 blue-color">性别:</span>
							<input ng-model="mineObj.myProfile.gender" class="font-16 bg-lightGrey border-0"/>
						</div>
						<div class="myProfileList"">
							<span class="font-16 l-h-40 blue-color">手机号:</span>
							<input ng-model="mineObj.myProfile.phnoe" class="font-16 bg-lightGrey border-0"/>
						</div>
						<div class="myProfileList">
							<span class="font-16 l-h-40 blue-color">邮箱:</span>
							<input ng-model="mineObj.myProfile.email" class="font-16 bg-lightGrey border-0"/>
						</div>
						<div class="myProfileList"">
							<span class="font-16 l-h-40 blue-color">密码:</span>
							<input ng-model="mineObj.myProfile.passWord" class="font-16 bg-lightGrey border-0"/>
						</div>
					</div>
<!----个人资料-----------end------------------------------------------------------------------------------------------------------------------->
<!----我的足迹-----------start------------------------------------------------------------------------------------------------------------------->
					<div class="footprintBox"  ng-class='{"dispayBlock":mineObj.leftOption=="我的足迹"}'>
						<div class="timeline">
								<p class="font-18 blue-color footprintTitle">随 笔</p>
								<div ng-repeat="a in mineObj.myFootprint[0]" class="row" style="padding:40px 5px 40px 20px;position: relative;">
										<div class="timeDiv"></div>
										<p class="time">{{a.time}}</p>
										<img ng-src="{{a.img}}" class="col-xs-5 col-sm-4 col-md-3"/>
										<div class="col-xs-7 col-sm-8 col-md-9 textBox">
											<p class="font-16">{{a.title}}</p>
											<p class="hidden-xs m-t-10">
												{{a.describe}}
											</p>
											<a class="blue-color buttonContinue">继续观看</a>
										</div>
								</div>
						</div>
						<div class="timeline">
							<p class="font-18 blue-color footprintTitle">书 籍</p>
							<div ng-repeat="a in mineObj.myFootprint[1]" class="row" style="padding:40px 5px 40px 20px;position: relative;">
								<div class="timeDiv"></div>
								<p  class="time">{{a.time}}</p>
								<img ng-src="{{a.img}}" class="col-xs-4 col-sm-3 col-md-2"/>
								<div class="col-xs-8 col-sm-9 col-md-10 textBox">
									<p class="font-16">{{a.name}}</p>
									<p class="bookDescribe m-t-10">{{a.describe}}</p>
									<a class="blue-color buttonContinue">继续观看</a>
								</div>
							</div>
						</div>
						<div class="timeline">
							<p class="font-18 blue-color footprintTitle">视 频</p>
							<div ng-repeat="a in mineObj.myFootprint[2]" class="row" style="padding:40px 5px 40px 20px;position: relative;"">
								<div class="timeDiv"></div>
								<p class="time">{{a.time}}</p>
								<img ng-src="{{a.img}}" class="col-xs-5 col-sm-4 col-md-3"/>
								<div class="col-xs-7 col-sm-8 col-md-9 textBox">
									<p class="font-16">{{a.name}}</p>
									<p class="font-16">{{a.duration}}</p>
									<a href="videoDetails.html?{{a.id}}" class="blue-color buttonContinue">继续观看</a>
								</div>
							</div>
						</div>
					</div>
<!----我的足迹-----------end------------------------------------------------------------------------------------------------------------------->
<!----我的分享-----------start------------------------------------------------------------------------------------------------------------------->
					<div style="display:none;background:#f9f9f9"  ng-class='{"dispayBlock":mineObj.leftOption=="我的分享"}'>
						<div ng-repeat="a in mineObj.myRelease" style="margin-bottom:5px">
								<div class="questionBox">
									<img ng-src={{a.img}} class="headerPor"/>
									<div class="questionText">
										<a ng-href="questionDetails.html?id={{a.id}}">
											<h4 class="headlineColor ellipsis  headline font-16 m-b-5">{{a.title}}</h4>
											<p class="font-14 questionSimple grey m-b-5">{{a.describe}}</p>
										</a>
									</div>
								</div>
							</div>
					</div>
<!----我的分享-----------end------------------------------------------------------------------------------------------------------------------->
				</div>
<!----内容right显示------end------------------------------------------------------------------------------------------------->
			</div>
		</div>
<!----内容显示------end-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
		<bottom></bottom>
	</body>
</html>