<!Doctype html>
<html>
<header>
    <title>终于开始了</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/css.css"/>
    <link rel="stylesheet" href="css/videoDetails.css"/>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controller/js.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/videoDetails.js"></script>
</header>
<body ng-app="homePage"  ng-controller="videoDetails" class="videoDetails">
<top></top>
<!----内容显示------start------------------------------------------------------------------------------------------------->
<div class="container contentTop">

        <!----内容right显示------end------------------------------------------------------------------------------------------------->
    </div>
</div>
<!----内容显示------end-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<bottom></bottom>
</body>
</html>