<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="shortcut icon" href="../../main/images/home.ico"/> 
		<link rel="icon" href="../../main/images/home.ico" type="image/gif" /> 
		<link rel="stylesheet" href="../../staticimages/project/index_p/index_p.css">
	</head>
	<body id="index-p">
	<div id="header">
		<div class="nav">
			<img src="../../main/images/logo.png" class=" logo"alt="LiangDaDa" titel="LiangDaDa"/>
			<div class="nav-btn">
				<a id="index" href="../../index.html">首页<span class="after"></span></a>
				<a id="specification"  href="../specification/index_s.html">规范代码<span class="after"></a>
				<a id="notes" href="../notes/notes.html">笔记<span class="after"></a>
				<a id="project" class="active">做过<span class="after"></a>
				<a id="" href="">学过<span class="after"></a>
				<a id="" href="">想学<span class="after"></a>
				<a id="" href="">生活<span class="after"></a>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="page pageOn">
			<ul>
				<li class="item">
					<a href="sliding_verticality.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/sliding_verticality.png" title="全屏垂直滑动" alt="全屏垂直滑动"/ >
						</div>
						<p class="item-titel">全屏垂直滑动</p>
					</a>
				</li>
				<li class="item">
					<a href="sliding_scroll.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/sliding_scrol.png" title="全屏垂直滑动" alt="全屏垂直滑动"/ >
						</div>
						<p class="item-titel">导航滑动滚动条</p>
					</a>
				</li>
				<li class="item">
					<a href="date.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/date.png" title="日历" alt="日历"/ >
						</div>
						<p class="item-titel">日历</p>
					</a>
				</li>
				<li class="item">
					<a href="waterfall.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/waterfall.png" title="瀑布流布局" alt="瀑布流布局"/ >
						</div>
						<p class="item-titel">瀑布流布局</p>
					</a>
				</li>
				<li class="item">
					<a href="load.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/load.png" title="下拉加载" alt="下拉加载"/ >
						</div>
						<p class="item-titel">下拉加载</p>
					</a>
				</li>
				<li class="item">
					<a href="throttle.html" target="_blank" class="item-box">
						<div class="imgBox">
							<img src="../../staticimages/project/index_p/images/throttle.png" title="节流" alt="节流"/ >
						</div>
						<p class="item-titel">节流</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="page">
			<ul>
				<li>
					<p class="">毕业作品</p>
					<p>
							毕业作品：<a href="../ux/index.html" target="_blank">&lt;&lt;UX自习室&gt;&gt;</a>，
							毕业论文：<a href="../ux/paper_ux/index_p.html" target="_blank">面向移动互联网的响应式网站设计与开发——基于用户体验设计的学习类网站《UX自学室》设计与开发</a></p>
					<p class="time">2017</p>
				</li>
				<li>
					<p class="">我的网站</p>
					<p>
							毕业作品：<a href="../ux/index.html" target="_blank">&lt;&lt;UX自习室&gt;&gt;</a>
					<p class="time">2017</p>
				</li>
			</ul>
		</div>
		<div id="side_nav">
			<h2><span class="iconfont">&#xe605;</span>导航</h2>
			<p>小作业</p>
			<p>项目</p>
		</div>
	</div>
	
	
	<script src="../../introducing/js/jquery-3.3.1.min.js"></script>
	<script src="../../staticimages/project/index_p/index_p.js"></script>
	<script src="../../main/js/main.js"></script>
	</body>
</html>
