<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="shortcut icon" href="../main/images/home.ico"/>
	</head>
	<body>
	<div id="header">
		<div class="nav">
			<h1>LiangDaDa</h1> 
			<div class="nav-btn">
				<a id="index" href="../../index.html">首页<span class="after"></span></a>
				<a id="specification"href="../specification/index_s.html">规范代码<span class="after"></a>
				<a id="notes" href="../notes/notes.html">笔记<span class="after"></a>
				<a id="project" class="active" >做过<span class="after"></a>
				<a id="" href="">学过<span class="after"></a>
				<a id="" href="">想学<span class="after"></a>
				<a id="" href="">生活<span class="after"></a>
			</div>
		</div>
	</div>
	<div class="mian">
		<ul>
			<li>
				<p class="">毕业作品</p>
				<p>
						毕业作品：<a href="../ux/index.html" target="_blank">&lt;&lt;UX自习室&gt;&gt;</a>，
						毕业论文：<a href="../ux/paper_ux/index_p.html" target="_blank">面向移动互联网的响应式网站设计与开发——基于用户体验设计的学习类网站《UX自学室》设计与开发</a></p>
				<p class="time">2017</p>
			</li>
			<li>
				<p class="">我的网站</p>
				<p>
						毕业作品：<a href="../ux/index.html" target="_blank">&lt;&lt;UX自习室&gt;&gt;</a>
				<p class="time">2017</p>
			</li>
		</ul>
	</div>
	
	
	<script src="../../introducing/js/jquery-3.3.1.min.js"></script>
	<script>
		var pageOn="project";
	</script>
	<script src="../../main/js/main.js"></script>
	</body>
</html>
