<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="stylesheet" href="../../staticimages/project/waterfall/css.css">
	</head>
	<body>
		<div class="main">
			<ul class="waterfall">
				<li class="waterfall-li"></li>
				<li class="waterfall-li"></li>
				<li class="waterfall-li"></li>
				<li class="waterfall-li"></li>
			</ul>
		</div>
		<script src="../../introducing/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../../staticimages/project/waterfall/js.js"></script>
	</body>
</html>
