<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="stylesheet" href="../../staticimages/notes/css/notes.css"/>
	</head>
	<body>
	<div id="header">
		<div class="nav">
			<img src="../../main/images/logo.png" class=" logo"alt="LiangDaDa" titel="LiangDaDa"/>
			<div class="nav-btn">
				<a id="index" href="../../index.html">首页<span class="after"></span></a>
				<a id="specification"href="../specification/index_s.html">规范代码<span class="after"></a>
				<a id="notes" class="active" href="">笔记<span class="after"></a>
				<a id="project" href="../project/index_p.html">做过<span class="after"></a>
				<a id="" href="">学过<span class="after"></a>
				<a id="" href="">想学<span class="after"></a>
				<a id="" href="">生活<span class="after"></a>
			</div>
		</div>
	</div>
	<div id="main" class="main">
		<div class="box1">
			<div class="box2">
				
			</div>
		</div>
		<style>
			.box1{
				position: relative;
				width:100px;
				height:100px;
				background:#CDCDCD
			}
			.box2{position:absolute;left:0;right:0;top:0;bottom:0;width:10px;height:10px;background:red}
		</style>
		<div id="side_content">
			<!-- koocv<br>
			flex<br/>
			grid<br/>
			{
				display:inner-block;
				width:400px;
				vertical-algin:top;
			} -->
			<!--wxss start-->
			<!-- <div class="inner" id="inner0">
				<h1>html</h1>
				<ul>
					<li>
						<h2></h2>
						<div>
							
						</div>
					</li>
				</ul>
			</div> -->
			<!--wxss end-->
			<!--html start-->
			<div class="inner" id="inner0">
				<h1>html</h1>
				<ul>
					<li>
						<h2>类别</h2>
						<div>
							<pre>
								1.ul li
								2.ol li 
								3.dl dt dd
								li{list-style:none;}
							</pre>
						</div>
					</li>
					<li>
						<h2>表格</h2>
						<div>
							<pre>
								1.border边框
								2.cellspacing边框边距 cellpadding单元格内边距
								3.colspan合并单元格 rowspan合并列
							</pre>
						</div>
					</li>
					<li>
						<h2>表单</h2>
						<div>
							<pre>
								1.readonly 只读
								2.disable 禁用
								3.placehold
							</pre>
						</div>
					</li>
					<li>
						<h2>语义化</h2>
						<div>
							header footer nav details address article aside section
						</div>
					</li>
					<li>
						<h2>添加</h2>
						<div>
							append() prepend() after() before()
						</div>
					</li>
				</ul>
				<h4>ICO</h4>
				<xmp>
					<link rel="shortcut icon" href="../main/images/home.ico" /> 
				</xmp>
				<h4>页面跳转</h4>
				<p>1.$("location").attr("href","../index/index.html")</p>
				<p>2.window.location.href=""</p>
				<p>3.获得链接:window.loction.href</p>
				<p>4:window.parent.loction.href</p>
				<p>HOSTS</p>
				<h4>空格</h4>	
				<pre>
					&nbsp;英文空格
					&emsp;中文空格
					&gt,&lt
					text-indet:2em;缩进2个字符
				</pre>
						
				<h4>转义字符</h4>	
				<pre>
					<xmp><xmp></xmp></xmp>html输出原样标签
				</pre>
			</div>
			<!--html end-->
			<!--css start-->
			<div class="inner" id="inner1">
				<h1>css</h1>
				transform:.8
				<ul>
					<li>
						<h3>1.代码规范 </h3>
						<div>
							<a href="../specification/index_s.html" target="_blank" title="CSS代码规范">CSS代码规范</a>
						</div>
					</li>
					<li>
						<h2>css预处理</h2>
						<div>
							<pre>
								sass less stylus
								stylus
								1.变量$
								2.可以省略{}
								3.父亲嵌套
							</pre>
						</div>
					</li>
					<li>
						<h3>1.公共样式 </h3>
						<div>
							<pre>
								.header{style:hidden;}
								.warp{width:1290px;margin:0px auto;}
								.fl{float:left;}
								.fr{float:left}
								.clear{clear: both;}
							</pre>
						</div>
					</li>
					<li>
						<h3>2.重置样式 </h3>
						<div>
							<pre>
								body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input.textarea,th,td,select{margin:0px;padding:0px;font-family:sinhei}
								em{font-style:normal;}
								li{list-style:none;}
								a{text-decoration:none;}
								img{border:0px;vertical-align:top}
								table{border-collapse:clooapse;}
								input,textarea{outline:none;}
								textarea{resize:none;overflow:auto;}
								body{font-szie:12px;font-family:"simhei"}
								table{border-collapse:collapse;}
								table td,table th{border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;}
							</pre>
						</div>
					</li>
					<li>
						<h3>3.常用样式 </h3>
						<div>
							<dl>
								<dd>
									浮动
									clear:both;
									overflow:hidden
								</dd>
								<dd>
									渐变
									<div class="gradient" style="width:100px;height:10px;"></div>
									<pre>
										.gradient{background: linear-gradient(to top, #fff, #000);}
									</pre>
								</dd>
								<dd>
									省略
									<p class="ellipsis1" style="height:24px;width:100px;font-size: 12px;line-height: 12px;;">1111111111111111111111111111111111111111111111111</p>
									<pre>
										.ellipsis1{ overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
									</pre>
									<p class="ellipsis2" style="height:24px;width:100px;font-size: 12px;line-height: 12px;;">2222222222222222222222222222222222222222222222222</p>
									<pre>
										.ellipsis2{ overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
									</pre>			
								</dd>
								<dd>
									阴影
									<div class="shadow" style="width:100px;height:10px;background:#fff;border:1px solid #f5f5f5"></div>
									<pre>
										box-shadow: 1px 2px 10px #f5f5f5;
									</pre>
								</dd>
								<dd>
									三角形
									<span class="trangle_up"></span><span class="trangle_down"></span>
									<pre>
										.trangle_up{width:0px;height:0px;overflow: hidden;border-left:4px solid transparent;border-right: 4px solid transparent;border-bottom:4px solid red;_border-left:4px solid #fff;_border-right:4px solid #fff;}
										.trangle_down{width:0px;height:0px;overflow: hidden;border-left:4px solid transparent;border-right: 4px solid transparent;border-top:4px solid red;_border-left:4px solid #fff;_border-right:4px solid #fff;}
									</pre>
								</dd>
							</dl>
						</div>
					</li>
					<li>
						<h3>3.常用样式 </h3>
						<div>
							浮动
							clear:both;
							overflow:hidden
						</div>
					</li>
					<li>
						<h3>4.hack</h3>
						<div>
							<pre>
								+color:black;ie7
								<!--  [if IE6]><![endif]-->
							</pre>
						</div>
					</li>
					<li>
						<h3>4.兼容 </h3>
						<div>
							<pre>
								ie,谷歌，火狐，op
								浮动 margin失效
								png失效
								透明
								z-index
							</pre>
						</div>
					</li>
					<li>
						<h2>flex</h2>
						<div>
							<pre>
								1.display:flex;
								2.flex-direction:row column row-reserve column-reserve
								3.flex-wrap:nowrap wrap wrap-reserve
								4.justify-content:flex-start felx-end center
								水平居中 flex-direction:row;justify:center
								垂直居中 flex-direction:colmun;justify:center;
							</pre>
						</div>
					</li>
				</ul>
			</div>
			<!--css end-->
			<!--css3 start-->
			<div class="inner" id="inner2">
				<h1>css3</h1>
				<ul>
					<li>
						<h2>运动</h2>
						<div>
							<pre>
								1.过度
								div{transition:width;width:10px;}
								div:hover{width:100px;}
								2.动画
								@keyframes myfirst{
									form {background:red}
									to{background:#fff}
								}
								div{animation:myfirst}
								3.animate.css库
							</pre>
						</div>
					</li>
				</ul>
			</div>
			<!--css3 start-->
			<!--js start-->
			<div class="inner" id="inner2">
				<h1>js</h1>
				<ul>
					<li>
						<h2>jq弹性运动</h2>
						<div>	
						</div>
					</li>
					<li>
						<h2></h2>
					</li>
					<li>
						<h2>字符的方法</h2>
						<div>
							<pre>
								1.str.length
								2.str1.concat(str2)
								3.str.indexof("1") str.lastIndexOf("1")
								4.str.slice(1,3) str.substring(1,2)
								5.str.sub() str.sup() str.toLowerCase() str.toUpperCase()
								6.str.replace(/\d/,"1") str.match(/\d/) str.search(/\d/)
								7.str.split("|")字符变数组
							</pre>
						</div>
					</li>
					<li>
						<h2>数组的方法</h2>
						<div>
							<pre>
								1.arr.length
								2.arr.concat(arr2)
								3.arr.indexOf('1') arr.lastIndexOf("1")
								4.arr.slice(1,2)
								5.arr.join(",")字符变数组
								6.arr.sort()
								降序
								function sortNumber(a,b){
								  return a - b;
								}
								//只需将排序替换成
								arr = arr.sort(sortNumber);
								7.
								在尾部添加元素，返回数组长度
								push()  arr.push("James");
								在尾部删除元素，返回删除元素
								pop() arr.pop();
								
								在头部添加元素，返回数组长度
								unshift() arr.unshift(“James”);
								在头部删除元素，返回删除元素
								shift() arr.shift();
							</pre>
						</div>
					</li>
					<li>
						<h2>时间</h2>
						<div>	
							<h3>JQ</h3>
							<pre>
								//时间格式
								现在时间 var d=new Date();
								全年var Year=d.getFullYear()
								年var yeart=d.getYear();
								月month=d.getMonth()+1; 
								日day=d.getDate(); 
								时h=d.getHours()
								分m=d.getMinutes();
								秒s=d.getSeconds();    
								毫秒ss=d.getMilliseconds();
								星期w=d.getDay()
								时间戳d.getTime();
								if(month<10){ month = "0"+month; } 
								if(day<10){ day = "0"+day; }
								
								//时间戳变日期
								temp不够13位*1000
								var d=new Date(temp)
								
								//加减
								1天86400000</pre>
							<h3>php</h3>
							<pre>
								//时间戳
								time();
								strtotime("2019-08-10");
								
								//时间格式
								date("Y-m-d H:i:s",time());
								date("w"); 周几
								
								//加减
								$data=strtotime("$data +1 day");
								1天86400
							</pre>
						</div>
					</li>
					<li>
						<h2>ajax</h2>
						<div>
							<pre>
								$.ajax({
									data:data;
									url:url,
									dataType:"json", "jsonp"
									success:function(){},
									error:function(){}
								})
								//ajax加载完毕
								$(document).ajaxStop(function (event, xhr, settings) {
										
								})
							</pre>
						</div>
					</li>
					<li>
						<h2>正则表达式</h2>
						<div>
							<pre>
								1方法、
								re.test(str) return true false
								str.serach(re) return 位置 -1
								str.match(re) return 数组 null
								str.replace(re,str2)
								
								1.转义字符
								\s:空格
								\S:非空格
								\d:数字
								\D:非数字
								\w:字符 字母，数字。下划线
								\W:非字符
								\.:.
								\b:独立部分 开始，结束 ，空格
								\B:非独立部分 
								
								2.
								g /\d/g 一直找下去
								
								3.量词
								+ /\d+/ 最少一次
								
								4.|
								a|b|c a或b或c
								
								5.匹配子项()
								var str="2019-9-1";
								var re=/(\d)(-)/g
								var str2=str.replace(re,function($0,$1,$2){
									return $1+"."
								})
								重复子项
								var re=/(\d)(-)\1/g
								
								6.字符类【】
								var re=/a[bdc]f/ 类
								var re=/a[^a]f/ ^排除
								var /a[0-9]/ 范围[a-z]
								
								7.量词{4，7}
								
								8.^,$开始结束
								
								9./^\s+|\s+$/ 去掉前后空格
								
								
								8.var re=new RegExp();传参
								
								
								敏感词
								var re=/a|bb|c[3]/g
								var str="aaabbbbbcccc"
								var str2=str.replace(re,function(str){
									console.log(str)
									var strR=""
									for(i=0;i<str.length;i++){
										strR+="*"
									} 
									return strR;
								})
								
								
							</pre>
						</div>
					</li>
				</ul>
			</div>
			<!--js end-->
			<!--jq start-->
			<div class="inner">
				<h1>php</h1>
				<ul>
					<li>
						<h2>jq原来优点</h2>
						<div>
							优点，轻量，有很好的选择器，ajax，通过调用自身方法实现，数据不会污染
							实现 window.jquery=window.$=$()
						</div>
					</li>
					<li>
						<h2>浅拷贝，深拷贝</h2>
					</li>
					<li>
						<h2>jq运动</h2>
						<div>
							<pre>
								1.show() hide() toggle()
								2.fadeInt() fadeOut() fadeToggle()
								3.slideUp() slideDown() slideToggle()
								4.animate()
								5.velocity.js
							</pre>
						</div>
					</li>
					<li>
						<h2>阻止冒泡</h2>
						<div>
							<pre>
								1.return false;
								2.event.stopPropagtion()
								3.默认 event.preventPropagtion()
								function colorChange(e){                
								    var e=e||window.event;//兼容性的处理         
								    if(e.target.nodeName.toLowerCase()==="li"){                    
								        box.innerHTML="该颜色为 "+e.target.innerHTML;                
								    }                            
								}            
								color_list.addEventListener("click",colorChange,false)
							</pre>
						</div>
					</li>
				</ul>
			</div>
			<!--jq end-->
			<!--php start-->
			<div class="inner" >
				<h1>php</h1>
				<ul>
					<li>
						
					</li>
				</ul>
			</div>
			<!--php end-->
			<!--sql start-->
			<div class="inner" id="inner4">
				<h1>sql</h1>
				<ul>
					<li>
						<pre>
							1.select * from 表 where 条件
							2.intset into （列）values （值）
							3.updata 表 set 列=值 where 条件
							4.delete from 表 where 条件
							
							1.join 都有
							2.inner join 都不能为空
							3.left join right可以为空
							4.right join left可以为空
						</pre>
					</li>
				</ul>
			</div>
			<!--sql end-->
			<!--框架 start-->
			<div class="inner" id="inner5">
				<h1>框架</h1>
				<ul>
					<li>
						<h2>小程序</h2>
						<div>
							<a href="../wechat/index.html" title="小程序" target="_blank">链接</a>
						</div>
					</li>
					<li>
						<h2>vue</h2>
						<div>
							<a href="../vue/index.html" title="" target="_blank">链接</a>
						</div>
					</li>
					<li>
						<h2>node</h2>
						<div>
							<a href="" title="" target="_blank">链接</a>
						</div>
					</li>
					
				</ul>
			</div>
			<!--框架 end-->
			<!--插件 start-->
			<div class="inner" id="inner6">
				<h1>插件</h1>
				<h2>插件引入</h2>
				<ul>
					<li>
						<h3>1.小导航</h3>
						<div>
							<a class="main_link" target="_blank" title="小导航"  href="../../introducing/plugIn/smint/index.html">小导航首页</a>
						</div>
					</li>
					<li>
						<h3>2.日历</h3>
						<div>
							<a class="main_link" target="_blank" title="日历"  href="http://www.my97.net/">日历首页</a>
						</div>
					</li>
					<li>
						<h3>3.图表echarts</h3>
						<div>
							<a class="main_link" target="_blank" title="图表echarts" href="http://echarts.baidu.com/tutorial.html#5%20%E5%88%86%E9%92%9F%E4%B8%8A%E6%89%8B%20ECharts?qq-pf-to=pcqq.c2c">4.图表echarts</a>
						</div>
					</li>
					<li>
						<h3>4.二维码</h3>
						<a class="main_link" target="_blank" title="二维码" href="../../introducing/plugIn/code/index.html">3.二维码</a>
					</li>
				</ul>
				<h2>插件自己</h2>
				<div>
					<ul>
						<li>
							<h3>1.日历</h3>
							<a class="main_link" target="_blank" title="日历M" href="../../introducing/mine/calendarM/calendar.html">链接</a>
						</li>
						<li>
							<h3>2.瀑布流</h3>
							<a class="main_link" target="_blank" title="瀑布流" href="../../introducing/mine/waterfall/waterfall.html">链接</a>
						</li>
						<li>
							<h3>3.轮播</h3>
							<a class="main_link" target="_blank" title="轮播" href="../../introducing/mine/bannerM/index.html">链接</a>
						</li>
						
					</ul>
				</div>
				<h2>方法</h2>
				<div>
					
				</div>
			</div>
			<!--插件 end-->
			<!--对象 start-->
			<div class="inner" id="inner6">
				<h1>对象</h1>
				<ul>
					<li>
						<h2>基础</h2>
						<div>
							1.new 后面是构造函数
							2.原型要写在构造函数下边
							3.原型链，每个对象都有-proto-属性，-proto-指向原型，因为js里面及对象，所以原型也有-protp-属性，这样一直递归下去，值到-proto-为null
							4.作用域链：取值时如果当前作用域找不到，就到上一级作用域中找。直到找到定义变量的作用域，或者直到找到全局作用域。
							5.闭包，函数与周围环境的引用的捆绑在一起就叫做闭包，闭包让函数可以访问外部的变量。
							5.constroucto构造函数
							6.hasOwnPropery 是否时自身属性
							7.instanceof 是否在原型链上
							8.
						</div>
					</li>
					<li>
						<h2>方法使用</h2>
						<div>
							<pre>
								1.constroctor构造函数 
								2.hasOwnProperty 是否时自身属性的方法 for in只可以遍历到自己定义的属性
								3.instanceof 原型链
								4.toString 转成字符串
								5.判断类型
								var a=new Number(1);
								b=fucntion(){}
								var c=new b()
								A a instanceof Number true,c instanceof Object true
								B a.constrouctor==Numer,c.constrouctor==Object
								C Object.protoType.toString.call(a) "[object Number]"
							</pre>
						</div>
					</li>
					<li>
						<a href="../project/tab.html" target="_blank">面向对象的选项卡</a>
					</li>
				</ul>
				
			</div>
			<!--对象 end--?
			<!--其它 start-->
			<div class="inner" id="inner6">
				<h1>其它</h1>
				<ul>
					<li>
						<h2>let（变量）与var的区别</h2>
						<div>
							A.{}限定不了var声明变量的访问范围。
							B.let不允许在相同作用域内，重复声明同一个变量
							C.使用let命令声明变量之前，该变量都是不可用的
							D.let 配合for循环的独特应用
							E.splice移除
						</div>
						<h2>const常量</h2>
					</li>
				</ul>
			</div>
			<!--其它 end-->
		</div>
		<div id="side_nav">
			<h2>导航</h2>
			<div>
				<p class="sideItem">html</p>
				<p class="sideItem">css</p>
				<p class="sideItem">css3</p>
				<p class="sideItem">jq</p>
				<p class="sideItem">php</p>
				<p class="sideItem">sql</p>
				<p class="sideItem">框架</p>
				<p class="sideItem">插件</p>
				<p class="sideItem">面向对象</p>
				<p class="sideItem">其它</p>
			</div>
		</div>
	</div>
	<script src="../../introducing/js/jquery-1.9.1.min.js"></script>
	<script>
		var pageOn="notes";
	</script>
	<script src="../../main/js/main.js"></script>
	<script src="../../staticimages/notes/js/notes.js"></script>
	</body>
</html>
