<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../main/css/main.css">
		<link rel="shortcut icon" href="../main/images/home.ico" /> 
		<link rel="icon" href="../main/images/home.ico" type="image/gif" /> 
		<link rel="shortcut icon" href="../main/images/home.ico"/>
	</head>
	<body>
	<div id="header">
		<div class="nav">
			<img src="../../main/images/logo.png" class=" logo"alt="LiangDaDa" titel="LiangDaDa"/>
			<div class="nav-btn">
				<a id="index" href="../../index.html">首页<span class="after"></span></a>
				<a id="specification"  class="active" href="">规范代码<span class="after"></a>
				<a id="notes" href="../notes/notes.html">笔记<span class="after"></a>
				<a id="project" href="../project/index_p.html">做过<span class="after"></a>
				<a id="" href="">学过<span class="after"></a>
				<a id="" href="">想学<span class="after"></a>
				<a id="" href="">生活<span class="after"></a>
			</div>
		</div>
	</div>
	<div class="main_warp">
		<div id="side_content">
			<div class="inner">
				<h2>文件</h2>
				<p>统一用小写的英文字母，数字和下划线的组合，不得包含汉字空格和特殊字符。</p>
				<h2>css</h2>
				<h3>1.layerout  布局 </h3>
				<h3>2.h1,h2,tile,alt与权重有关</h3>
				<h3>3.ID及Class命名常用名称 </h3>
				<p>
					页头：header<br/>
					登陆条:login-bar<br/>
					标志:logo<br/>
					侧栏:side-bar<br/>
					广告:banner<br/>
					导航:nav<br/>
					子导航:sub-nav<br/>
					菜单:menu<br/>
					子菜单:sub-menu<br/>
					搜索:search<br/>
					滚动:scroll<br/>
					页面主体:main<br/>
					内容:content<br/>
					标签页:tab<br/>
					文章列表:list<br/>
					提示信息:msg<br/>
					小技巧:tips<br/>
					栏目标题:title<br/>
					加入:joinus<br/>
					指南:guild<br/>
					服务:service<br/>
					热点:hot<br/>
					新闻:news<br/>
					下载:download<br/>
					注册:resiter<br/>
					状态:status<br/>
					按钮:btn<br/>
					投票:vote<br/>
					合作伙伴:partner<br/>
					友情链接:firendlink<br/>
					版权:copyright<br/>
					外套:wrap<br/>
					页脚:footer<br/>
					标题:title<br/>
					顶导航:top-nav<br/>
				</p>
			</div>
			<div class="inner">
				<h2>html</h2>
				<h3>结构清晰</h3>
				<pre>
					ul li
					dl dd dt
				</pre>
			</div>
			<div class="inner">
			</div>
			
		</div>
		<div id="side_nav">
			<p>导航</p>
			<div>
				<p class="sideItem">css</p>
				<p class="sideItem">html</p>
			</div>
		</div>
	</div>
	
	<script src="../../introducing/js/jquery-1.9.1.min.js"></script>
	<script>
		var pageOn="specification";
	</script>
	<script src="../../main/js/main.js"></script>
	</body>
</html>
